$green: #2ecc71;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 2rem;

  height: 100vh;

  background-color: #e0e0e0;
}

.user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 3rem;
  background-color: #f8f8f8;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  text-align: center;
  padding: 10rem;
  min-width: 70rem;

  span {
    position: absolute;
    top: 4rem;
    right: 2rem;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    &:hover {
      color: $green;
    }
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }

  img {
    width: 20rem;
    border-radius: 50%;
    border: 1px solid rgba(black, 0.15);
    margin: 1rem auto;
  }

  div {
    width: 100%;
    margin-top: 3rem;

    p {
      display: inline;
      padding: 1.5rem;
      transition: color 0.3s;
      cursor: pointer;
      color: #585858;

      &:hover, &.active {
        color: $green;
        border-top: 0.3rem solid $green;
      }

      i {
        font-size: 3rem;
      }
    }
  }
}
